/* header{

} */
.logo-div .logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* object-fit: cover; */
}

.logoAndNav{
    width: 100%;
    display: flex;
}

.nav{
    /* border: 3px solid black; */
    align-content: center;
}

.nav ul{
    width: 60vw;
    display: flex;
    justify-content:right;
    border: 1px solid rgb(129, 129, 129);

}

.nav ul li{
    list-style: none;
    padding: 0px 50px;
}

.banner-div{
    text-align: center;
}

.banner-div img{
    width: 80vw;
}
.description{
    width: 5vw;
    height: 5vw;

}

.desc-img{
    transform: rotate(90deg);
    width: 10vw;
    height: 10vw;
} 

.paragraph{
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: normal;
    word-spacing: 10px;
    text-shadow: 2px 1px 5px;
    line-height: 40px;
    text-align: justify;
    color: blue(24, 24, 31);
    background-color: blanchedalmond;
}

